pandas
seaborn
langchain==0.0.225 
tiktoken 
pypdf 
chromadb==0.3.23 
faiss-gpu
transformers 
InstructorEmbedding 
sentence_transformers==2.2.2
accelerate 
bitsandbytes 
xformers 
einops
streamlit
setuptools==59.8.0
pydantic==1.10.7
typing_extensions==4.5.0
